@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <summary>
        Password:
        <details>@ViewBag.Password</details>
        <details>@ViewBag.MySecret</details>
    </summary>

    <ul>
        <li>one</li>
        <li>two</li>
    </ul>
</div>
